In [155]:
import pandas as pd
import numpy as np

In [156]:
list_df = []

In [157]:
df_veneziane = pd.read_excel('data_raw/Aggiornamento_ART_COSTI_per_tipo_articoli_21-08_2023.xlsx', sheet_name='art_costi_veneziane')
df_veneziane['Codice_variante'] = df_veneziane['COD_ART_VAR_TIPO_COS_AZ_STDAG'].apply(lambda x: x.split('\\')[1]).astype(int)
df_veneziane.drop(columns=['COD_ART_VAR_TIPO_COS_AZ_STDAG','COD_ART_TIPO_COST'], inplace=True)
df_veneziane.rename(columns={'COD_ART':'Codice_articolo','COSTO_ART':'Costo','DATA_RIF':'Data_riferimento'}, inplace=True)
df_veneziane['Categoria'] = 'Veneziane'
df_veneziane['Descrizione'] = ''
df_veneziane = df_veneziane[['Codice_articolo','Codice_variante','Descrizione','Costo','Data_riferimento','Categoria']]
df_veneziane.head()

,Codice_articolo,Codice_variante,Descrizione,Costo,Data_riferimento,Categoria
0,017.PM419,1,,46.52,2023-01-12,Veneziane
1,017.PM420,1,,46.52,2023-01-12,Veneziane
2,017.PM421,1,,48.75,2023-01-12,Veneziane
3,017.PM422,3,,46.52,2023-01-12,Veneziane
4,017.PM423,1,,46.52,2023-01-12,Veneziane

In [158]:
list_df.append(df_veneziane)
#df_veneziane.info()
#df_veneziane.describe()

In [159]:
df_vetro = pd.read_excel('data_raw/Aggiornamento_ART_COSTI_per_tipo_articoli_21-08_2023.xlsx', sheet_name='Vetri')
df_vetro['Codice_variante'] = df_vetro['COD_ART_VAR_TIPO_COS_AZ_STDAG'].apply(lambda x: x.split('\\')[1])
df_vetro['Codice_variante'] = df_vetro['Codice_variante'].apply(lambda x: 0 if x == 'ATT' else x).astype(int)
df_vetro.drop(columns=['COD_ART_VAR_TIPO_COS_AZ_STDAG','COD_TIPO_COST','Codice Vetro', 'Costo Vetro', 'Unnamed: 8'], inplace=True)
df_vetro.rename(columns={'COD_ART':'Codice_articolo','COSTO_ART':'Costo','DATA_RIF':'Data_riferimento',"descrizione":"Descrizione"}, inplace=True)
df_vetro['Categoria'] = 'Vetri'
df_vetro = df_vetro[['Codice_articolo','Codice_variante','Descrizione','Costo','Data_riferimento','Categoria']]
df_vetro.head()

,Codice_articolo,Codice_variante,Descrizione,Costo,Data_riferimento,Categoria
0,017.PM152,1,VETRO STRATIFICATO 33.1,30.5,2023-08-28,Vetri
1,017.PM152,2,VETRO STRATIFICATO 33.1,18.0,2023-08-28,Vetri
2,017.PM152,3,VETRO STRATIFICATO 33.1,30.5,2023-08-28,Vetri
3,017.PM152,4,VETRO STRATIFICATO 33.1,18.0,2023-08-28,Vetri
4,017.PM152,5,VETRO STRATIFICATO 33.1,18.0,2023-08-28,Vetri

In [160]:
list_df.append(df_vetro)
#df_vetro.info()
#df_vetro.describe()

In [161]:
df_ante_vetro = pd.read_excel('data_raw/Aggiornamento_ART_COSTI_per_tipo_articoli_21-08_2023.xlsx', sheet_name='Ante vetro')
df_ante_vetro['Codice_variante'] = df_ante_vetro['COD_ART_VAR_TIPO_COS_AZ_STDAG'].apply(lambda x: x.split('\\')[1])
df_ante_vetro['Codice_variante'] = df_ante_vetro['Codice_variante'].apply(lambda x: 0 if x == 'ATT' else x).astype(int)
df_ante_vetro.drop(columns=[
    'COD_ART_VAR_TIPO_COS_AZ_STDAG','COD_TIPO_COST',
    'LUNGH', 'LARGH', 'ALT', 'costo vetro', 'mq', 'LAV', 'N.fori', 'costo lav.'
    ], inplace=True)
df_ante_vetro.rename(columns={'COD_ART':'Codice_articolo','COSTO_ART':'Costo','DATA_RIF':'Data_riferimento',"DESCRIZIONE":"Descrizione"}, inplace=True)
df_ante_vetro['Categoria'] = 'Ante vetro'
df_ante_vetro = df_ante_vetro[['Codice_articolo','Codice_variante','Descrizione','Costo','Data_riferimento','Categoria']]
df_ante_vetro.head()

,Codice_articolo,Codice_variante,Descrizione,Costo,Data_riferimento,Categoria
0,017.PM106.001,0,ANTA APR. SX o DX IN CRISTALLO TRASPARENTE 895...,128,2023-08-28,Ante vetro
1,017.PM106.002,0,ANTA APR. SX o DX IN CRISTALLO TRASPARENTE 895...,153,2023-08-28,Ante vetro
2,017.PM106.005,0,ANTA SEMIFISSA SX o DX IN CRISTALLO TRAS. 944x...,133,2023-08-28,Ante vetro
3,017.PM106.006,0,ANTA SEMIFISSA SX o DX IN CRISTALLO TRAS. 944 ...,159,2023-08-28,Ante vetro
4,017.PM106.007,0,ANTA SEMIFISSA SX o DX IN CRISTALLO TRAS. 193x...,43,2023-08-28,Ante vetro

In [162]:
list_df.append(df_ante_vetro)
#df_ante_vetro.info()
#df_ante_vetro.describe()

In [163]:
df_visive = pd.read_excel('data_raw/Aggiornamento_ART_COSTI_per_tipo_articoli_21-08_2023.xlsx', sheet_name='Visive')
df_visive['Codice_variante'] = df_visive['COD_ART_VAR_TIPO_COS_AZ_STDAG'].apply(lambda x: x.split('\\')[1])
df_visive['Codice_variante'] = df_visive['Codice_variante'].apply(lambda x: 0 if x == 'ATT' else x).astype(int)
df_visive.drop(columns=[
    'COD_ART_VAR_TIPO_COS_AZ_STDAG','COD_TIPO_COST',
    'COSTO_ART_OLD', '%',
    ], inplace=True)
df_visive.rename(columns={'COD_ART':'Codice_articolo','COSTO_ART':'Costo','DATA_RIF':'Data_riferimento',"Descrizoine":"Descrizione"}, inplace=True)
df_visive['Categoria'] = 'Visive'
df_visive = df_visive[['Codice_articolo','Codice_variante','Descrizione','Costo','Data_riferimento','Categoria']]
df_visive.head()

,Codice_articolo,Codice_variante,Descrizione,Costo,Data_riferimento,Categoria
0,045.OB.P1O,0,VETROCAMERA OBLO' PER PORTA 400X700 R100 OPACO...,86,2023-08-28,Visive
1,045.OB.P1T,0,VETROCAMERA OBLO' PER PORTA 400X700 R100 TRASP...,75,2023-08-28,Visive
2,045.OB.P2O,0,VETROCAMERA OBLO' PER PORTA 500X700 R100 OPACO...,99,2023-08-28,Visive
3,045.OB.P2T,0,VETROCAMERA OBLO' PER PORTA 500X700 R100 TRASP...,86,2023-08-28,Visive
4,045.OB.V1O,0,VETROCAMERA OBLO' OPACO 800X1000 R100 S45,153,2023-08-28,Visive

In [164]:
list_df.append(df_visive)
#df_visive.info()
#df_visive.describe()

In [165]:
df_ante_acciao = pd.read_excel('data_raw/Aggiornamento_ART_COSTI_per_tipo_articoli_21-08_2023.xlsx', sheet_name='Ante Acciaio')
df_ante_acciao['Codice_variante'] = df_ante_acciao['COD_ART_VAR_TIPO_COS_AZ_STDAG'].apply(lambda x: x.split('\\')[1])
df_ante_acciao['Codice_variante'] = df_ante_acciao['Codice_variante'].apply(lambda x: 0 if x == 'ATT' else x).astype(int)
df_ante_acciao.drop(columns=[
    'COD_ART_VAR_TIPO_COS_AZ_STDAG','COD_TIPO_COST',
    ], inplace=True)
df_ante_acciao.rename(columns={'COD_ART':'Codice_articolo','COSTO_ART':'Costo','DATA_RIF':'Data_riferimento',"Descrizione":"Descrizione"}, inplace=True)
df_ante_acciao['Categoria'] = 'Ante Acciaio'
df_ante_acciao = df_ante_acciao[['Codice_articolo','Codice_variante','Descrizione','Costo','Data_riferimento','Categoria']]
df_ante_acciao.head()

,Codice_articolo,Codice_variante,Descrizione,Costo,Data_riferimento,Categoria
0,017.PM105.01,7,ANTA IN ACCIAIO VERNICIATO DX 898 X 2043,300,2022-04-08,Ante Acciaio
1,017.PM105.03,4,ANTA IN ACCIAIO VERNICIATO SX 898 X 2043,300,2022-04-08,Ante Acciaio
2,017.PM105.05,2,ANTA APRIBILE IN ACCIAIO VERNICIATO DX 948 X 2043,300,2022-04-08,Ante Acciaio
3,017.PM105.07,1,ANTA APRIBILE IN ACCIAIO VERNICIATO SX 948 X 2043,300,2022-04-08,Ante Acciaio
4,017.PM105.09,1,ANTA SEMIFISSA IN ACCIAIO VERNICIATO SX 945 X ...,300,2022-04-08,Ante Acciaio

In [166]:
list_df.append(df_ante_acciao)
#df_ante_acciao.info()
#df_ante_acciao.describe()

In [167]:
df_profili_alluminio_flux = pd.read_excel('data_raw/Aggiornamento_ART_COSTI_per_tipo_articoli_21-08_2023.xlsx', sheet_name='Profili Alluminio Flux')
df_profili_alluminio_flux['Codice_variante'] = df_profili_alluminio_flux['COD_ART_VAR_TIPO_COS_AZ_STDAG'].apply(lambda x: x.split('\\')[1])
df_profili_alluminio_flux['Codice_variante'] = df_profili_alluminio_flux['Codice_variante'].apply(lambda x: 0 if x == 'ATT' else x).astype(int)
df_profili_alluminio_flux.drop(columns=[
    'COD_ART_VAR_TIPO_COS_AZ_STDAG','COD_TIPO_COST','costo all', 'peso', 'magg'
    ], inplace=True)
df_profili_alluminio_flux.rename(columns={'COD_ART':'Codice_articolo','COSTO_ART':'Costo','DATA_RIF':'Data_riferimento',"descrizione":"Descrizione"}, inplace=True)
df_profili_alluminio_flux['Categoria'] = 'Profili Alluminio Flux'
df_profili_alluminio_flux = df_profili_alluminio_flux[['Codice_articolo','Codice_variante','Descrizione','Costo','Data_riferimento','Categoria']]
df_profili_alluminio_flux.head()

,Codice_articolo,Codice_variante,Descrizione,Costo,Data_riferimento,Categoria
0,091.NW2188,0,"SC2188 - PROFILO A ""C"" PER COLLEGAMENTO TELAIO...",0.885248,2023-08-28,Profili Alluminio Flux
1,091.NW2191,0,SC2191 - PROFILO A SCATTO PER ANTA INTELAIATA ...,0.842688,2023-08-28,Profili Alluminio Flux
2,091.NW2530,0,"CL6980 GUIDA INFERIORE A ""L"" GREZZO",4.924192,2023-08-28,Profili Alluminio Flux
3,091.NW2531,0,CL6982 PROFILO A SCATTO GREZZO,0.455392,2023-08-28,Profili Alluminio Flux
4,091.NW2535,0,CL6981 PROFILO CARTER GREZZO,1.166144,2023-08-28,Profili Alluminio Flux

In [168]:
list_df.append(df_profili_alluminio_flux)
#df_profili_alluminio_flux.info()
#df_profili_alluminio_flux.describe()

In [169]:
df_profili_alluminio_flux2 = pd.read_excel('data_raw/Aggiornamento_ART_COSTI_per_tipo_articoli_21-08_2023.xlsx', sheet_name='Profili Alluminio Flux2.0')
df_profili_alluminio_flux2['Codice_variante'] = df_profili_alluminio_flux2['COD_ART_VAR_TIPO_COS_AZ_STDAG'].apply(lambda x: x.split('\\')[1])
df_profili_alluminio_flux2['Codice_variante'] = df_profili_alluminio_flux2['Codice_variante'].apply(lambda x: 0 if x == 'ATT' else x).astype(int)
df_profili_alluminio_flux2.drop(columns=[
    'COD_ART_VAR_TIPO_COS_AZ_STDAG','COD_TIPO_COST','costo all', 'peso', 'magg'
    ], inplace=True)
df_profili_alluminio_flux2.rename(columns={'COD_ART':'Codice_articolo','COSTO_ART':'Costo','DATA_RIF':'Data_riferimento',"descrizione":"Descrizione"}, inplace=True)
df_profili_alluminio_flux2['Categoria'] = 'Profili Alluminio Flux 2'
df_profili_alluminio_flux2 = df_profili_alluminio_flux2[['Codice_articolo','Codice_variante','Descrizione','Costo','Data_riferimento','Categoria']]
df_profili_alluminio_flux2.head()

,Codice_articolo,Codice_variante,Descrizione,Costo,Data_riferimento,Categoria
0,091.N1037,0,N1037 - PROFILO INF. ANTA ZOCCOLO,6.2168,2023-08-28,Profili Alluminio Flux 2
1,091.N1038,0,N1038 - PROFILO RINFORZO ARCHITRAVE ANTA,2.2952,2023-08-28,Profili Alluminio Flux 2
2,091.N1039,0,N1039 - PROFILO ANTA INTEL.,8.0332,2023-08-28,Profili Alluminio Flux 2
3,091.N1040,0,N1040 - PROFILO ARCHITRAVE TELAIO PORTA,5.2896,2023-08-28,Profili Alluminio Flux 2
4,091.N1041,0,N1041 - PROFILO STIPITE TELAIO PORTA,7.9762,2023-08-28,Profili Alluminio Flux 2

In [170]:
list_df.append(df_profili_alluminio_flux2)
#df_profili_alluminio_flux2.info()
#df_profili_alluminio_flux2.describe()

In [171]:
df_profili_alluminio_kybos = pd.read_excel('data_raw/Aggiornamento_ART_COSTI_per_tipo_articoli_21-08_2023.xlsx', sheet_name='Profili Alluminio Kybos')
df_profili_alluminio_kybos['Codice_variante'] = df_profili_alluminio_kybos['COD_ART_VAR_TIPO_COS_AZ_STDAG'].apply(lambda x: x.split('\\')[1])
df_profili_alluminio_kybos['Codice_variante'] = df_profili_alluminio_kybos['Codice_variante'].apply(lambda x: 0 if x == 'ATT' else x).astype(int)
df_profili_alluminio_kybos.drop(columns=[
    'COD_ART_VAR_TIPO_COS_AZ_STDAG','COD_TIPO_COST','costo all', 'peso', 'magg'
    ], inplace=True)
df_profili_alluminio_kybos.rename(columns={'COD_ART':'Codice_articolo','COSTO_ART':'Costo','DATA_RIF':'Data_riferimento',"descrizione":"Descrizione"}, inplace=True)
df_profili_alluminio_kybos['Categoria'] = 'Profili Alluminio Kybos'
df_profili_alluminio_kybos = df_profili_alluminio_kybos[['Codice_articolo','Codice_variante','Descrizione','Costo','Data_riferimento','Categoria']]
df_profili_alluminio_kybos.head()

,Codice_articolo,Codice_variante,Descrizione,Costo,Data_riferimento,Categoria
0,052.MP.002,0,"SC2183 PROFILO ANGOLARE S45 - GREZZO 6,5 ML",1.17420,2023-08-28,Profili Alluminio Kybos
1,052.MP.004,0,SC2184 PROFILO SGUSCIA PAVIMENTO- GREZZO 6 ML,1.59980,2023-08-28,Profili Alluminio Kybos
2,052.MP.005,0,"SC2185 PROFILO SOTTOSGUSCIA - GREZZO 6,5 ML",1.80386,2023-08-28,Profili Alluminio Kybos
3,052.MP.006,0,SC2186 PROFILO PAVIMENTO - GREZZO 6 ML,5.00726,2023-08-28,Profili Alluminio Kybos
4,052.MP.007,0,"SC2187 PROFILO AD ""H"" DI CONNESSIONE PANNELLI ...",1.82970,2023-08-28,Profili Alluminio Kybos

In [172]:
list_df.append(df_profili_alluminio_kybos)
#df_profili_alluminio_kybos.info()
#df_profili_alluminio_kybos.describe()

In [173]:
df_mp_acciaio = pd.read_excel('data_raw/Aggiornamento_ART_COSTI_per_tipo_articoli_21-08_2023.xlsx', sheet_name='MP_Acciaio')
df_mp_acciaio['Codice_variante'] = df_mp_acciaio['COD_ART_VAR_TIPO_COS_AZ_STDAG'].apply(lambda x: x.split('\\')[1])
df_mp_acciaio['Codice_variante'] = df_mp_acciaio['Codice_variante'].apply(lambda x: 0 if x == 'ATT' else x).astype(int)
df_mp_acciaio.drop(columns=[
    'COD_ART_VAR_TIPO_COS_AZ_STDAG','COD_TIPO_COST','UM_BASE', 'Spessore', 'COLORE','VARIANTE','COSTO'
    ], inplace=True)
df_mp_acciaio.rename(columns={'COD_ART':'Codice_articolo','COSTO_ART':'Costo','DATA_RIF':'Data_riferimento',"Descrizione":"Descrizione"}, inplace=True)
df_mp_acciaio['Categoria'] = 'MP Acciaio'
df_mp_acciaio = df_mp_acciaio[['Codice_articolo','Codice_variante','Descrizione','Costo','Data_riferimento','Categoria']]
df_mp_acciaio.head()

,Codice_articolo,Codice_variante,Descrizione,Costo,Data_riferimento,Categoria
0,017.PM001,2,NASTRO ACCIAIO ZINCATO,1.0,2023-08-28,MP Acciaio
1,017.PM001,3,NASTRO ACCIAIO ZINCATO,1.0,2023-08-28,MP Acciaio
2,017.PM001,4,NASTRO ACCIAIO ZINCATO,1.0,2023-08-28,MP Acciaio
3,017.PM001,5,NASTRO ACCIAIO ZINCATO,1.0,2023-08-28,MP Acciaio
4,017.PM001,6,NASTRO ACCIAIO ZINCATO,1.0,2023-08-28,MP Acciaio

In [174]:
list_df.append(df_mp_acciaio)
#df_mp_acciaio.info()
#df_mp_acciaio.describe()

In [175]:
df_accessori = pd.read_excel('data_raw/Aggiornamento_ART_COSTI_per_tipo_articoli_21-08_2023.xlsx', sheet_name='Accessori')
df_accessori['Codice_variante'] = df_accessori['COD_ART_VAR_TIPO_COS_AZ_STDAG'].apply(lambda x: x.split('\\')[1])
df_accessori['Codice_variante'] = df_accessori['Codice_variante'].apply(lambda x: 0 if x == 'ATT' else x).astype(int)
df_accessori.drop(columns=[
    'COD_ART_VAR_TIPO_COS_AZ_STDAG','COD_TIPO_COST','FLAG_AGG_ULT',
    ], inplace=True)
df_accessori.rename(columns={'COD_ART':'Codice_articolo','COSTO_ART':'Costo','DATA_RIF':'Data_riferimento',"Descrizione":"Descrizione"}, inplace=True)
df_accessori['Categoria'] = 'Accessori'
df_accessori = df_accessori[['Codice_articolo','Codice_variante','Descrizione','Costo','Data_riferimento','Categoria']]
df_accessori.head()

,Codice_articolo,Codice_variante,Descrizione,Costo,Data_riferimento,Categoria
0,017.GUI.MED.01,0,GUARNIZIONE MED IN PVC COESTRUSO,0.3500,2022-03-09,Accessori
1,017.PM117,0,CL7308 PROFILO DI BATTUTA PER PORTE DOPPIE,2.3688,2022-09-19,Accessori
2,017.PM156,0,KIT VETRI SCORREVOLI PER PASSACARTE (su misura),160.0000,2021-05-04,Accessori
3,017.PM157,0,KIT VETRI SCORR. PER PASS. (su int. 2000),260.0000,2017-03-13,Accessori
4,017.PM301,0,"VITE AUTOFILETTANTE TPS ZN 4,2x16",0.0065,2022-03-09,Accessori

In [176]:
list_df.append(df_accessori)
#df_accessori.info()
#df_accessori.describe()

In [177]:
df_mp_alluminio = pd.read_excel('data_raw/Aggiornamento_ART_COSTI_per_tipo_articoli_21-08_2023.xlsx', sheet_name='MP_Alluminio')
df_mp_alluminio['Codice_variante'] = df_mp_alluminio['COD_ART_VAR_TIPO_COS_AZ_STDAG'].apply(lambda x: x.split('\\')[1])
df_mp_alluminio['Codice_variante'] = df_mp_alluminio['Codice_variante'].apply(lambda x: 0 if x == 'ATT' else x).astype(int)
df_mp_alluminio.drop(columns=[
    'COD_ART_VAR_TIPO_COS_AZ_STDAG','COD_TIPO_COST','UM_BASE', 'costo all', 'peso',
    ], inplace=True)
df_mp_alluminio.rename(columns={'COD_ART':'Codice_articolo','COSTO_ART':'Costo','DATA_RIF':'Data_riferimento',"Descrizione":"Descrizione"}, inplace=True)
df_mp_alluminio['Categoria'] = 'MP Alluminio'
df_mp_alluminio = df_mp_alluminio[['Codice_articolo','Codice_variante','Descrizione','Costo','Data_riferimento','Categoria']]
df_mp_alluminio.head()

,Codice_articolo,Codice_variante,Descrizione,Costo,Data_riferimento,Categoria
0,017.PM201,0,CL6083 PROFILO TELAIO VETRO ALLUMINIO GREZZO,2.394,2023-08-28,MP Alluminio
1,017.PM205,0,SC2197 PROFILO UNICO TEL. PORTA ALLUMINIO GREZZO,8.341,2023-08-28,MP Alluminio
2,017.PM206AN,5,LAMIERA ALLUMINIO ANODIZZATA,7.000,2023-08-28,MP Alluminio
3,017.PM206AN,6,LAMIERA ALLUMINIO ANODIZZATA,7.000,2023-08-28,MP Alluminio
4,017.PM206AN,7,LAMIERA ALLUMINIO ANODIZZATA,7.000,2023-08-28,MP Alluminio

In [178]:
list_df.append(df_mp_alluminio)
#df_mp_alluminio.info()
#df_mp_alluminio.describe()

In [179]:
df_truciolare = pd.read_excel('data_raw/Aggiornamento_ART_COSTI_per_tipo_articoli_21-08_2023.xlsx', sheet_name='Truciolare')
df_truciolare['Codice_variante'] = df_truciolare['COD_ART_VAR_TIPO_COS_AZ_STDAG'].apply(lambda x: x.split('\\')[1])
df_truciolare['Codice_variante'] = df_truciolare['Codice_variante'].apply(lambda x: 0 if x == 'ATT' else x).astype(int)
df_truciolare.drop(columns=[
    'COD_ART_VAR_TIPO_COS_AZ_STDAG','COD_TIPO_COST','COLORE', 'SPESSORE',
    ], inplace=True)
df_truciolare.rename(columns={'COD_ART':'Codice_articolo','COSTO_ART':'Costo','DATA_RIF':'Data_riferimento',"DESCRIZIONE":"Descrizione"}, inplace=True)
df_truciolare['Categoria'] = 'Truciolare'
df_truciolare = df_truciolare[['Codice_articolo','Codice_variante','Descrizione','Costo','Data_riferimento','Categoria']]
df_truciolare.head()

,Codice_articolo,Codice_variante,Descrizione,Costo,Data_riferimento,Categoria
0,017.PM051.18,1,TRUCIOLARE NOBILITATO SP.18,7.45,2022-12-07,Truciolare
1,017.PM051.18,7,TRUCIOLARE NOBILITATO SP.18,7.45,2022-12-07,Truciolare
2,017.PM051.18,8,TRUCIOLARE NOBILITATO SP.18,11.78,2022-12-07,Truciolare
3,017.PM051.FF,2,TRUCIOLARE NOBILITATO STD 3050x2070,6.86,2022-04-01,Truciolare
4,017.PM051.FF,3,TRUCIOLARE NOBILITATO STD 3050x2070,6.86,2022-04-01,Truciolare

In [180]:
list_df.append(df_truciolare)
#df_truciolare.info()
#df_truciolare.describe()

In [181]:
df_coibenti = pd.read_excel('data_raw/Aggiornamento_ART_COSTI_per_tipo_articoli_21-08_2023.xlsx', sheet_name='Coibenti')
df_coibenti['Codice_variante'] = df_coibenti['COD_ART_VAR_TIPO_COS_AZ_STDAG'].apply(lambda x: x.split('\\')[1])
df_coibenti['Codice_variante'] = df_coibenti['Codice_variante'].apply(lambda x: 0 if x == 'ATT' else x).astype(int)
df_coibenti.drop(columns=[
    'COD_ART_VAR_TIPO_COS_AZ_STDAG','COD_TIPO_COST',
    ], inplace=True)
df_coibenti.rename(columns={'COD_ART':'Codice_articolo','COSTO_ART':'Costo','DATA_RIF':'Data_riferimento',"DESCRIZIONE":"Descrizione"}, inplace=True)
df_coibenti['Categoria'] = 'Coibenti'
df_coibenti = df_coibenti[['Codice_articolo','Codice_variante','Descrizione','Costo','Data_riferimento','Categoria']]
df_coibenti.head()

,Codice_articolo,Codice_variante,Descrizione,Costo,Data_riferimento,Categoria
0,017.PM411,0,LANA MINERALE SPESSORE MM 50 DENSITA' 50,5.02,2022-11-28,Coibenti
1,017.PM412,0,LANA MINERALE IMBUSTATA SPESSORE MM 50 DENSITA...,6.00,2022-11-28,Coibenti
2,017.PM539,0,LANA MINERALE SPESSORE MM 40 DENSITA' 70,5.00,2022-11-28,Coibenti
3,017.PM564,0,LANA MINERALE AIRROCK DD SP.60 D.67,6.50,2022-11-28,Coibenti
4,017.PM565,0,LANA MINERALE ROCKWOOL 226 SP.40 D.60,4.20,2022-11-28,Coibenti

In [182]:
list_df.append(df_coibenti)
#df_coibenti.info()
#df_coibenti.describe()

In [183]:
df_laminati_e_altri = pd.read_excel('data_raw/Aggiornamento_ART_COSTI_per_tipo_articoli_21-08_2023.xlsx', sheet_name='Laminati e altri')
df_laminati_e_altri['Codice_variante'] = df_laminati_e_altri['COD_ART_VAR_TIPO_COS_AZ_STDAG'].apply(lambda x: x.split('\\')[1])
df_laminati_e_altri['Codice_variante'] = df_laminati_e_altri['Codice_variante'].apply(lambda x: 0 if x == 'ATT' else x).astype(int)
df_laminati_e_altri.drop(columns=[
    'COD_ART_VAR_TIPO_COS_AZ_STDAG','COD_TIPO_COST',
    ], inplace=True)
df_laminati_e_altri.rename(columns={'COD_ART':'Codice_articolo','COSTO_ART':'Costo','DATA_RIF':'Data_riferimento',"DESCRIZIONE":"Descrizione"}, inplace=True)
df_laminati_e_altri['Categoria'] = 'Laminati e altri'
df_laminati_e_altri = df_laminati_e_altri[['Codice_articolo','Codice_variante','Descrizione','Costo','Data_riferimento','Categoria']]
df_laminati_e_altri.head()

,Codice_articolo,Codice_variante,Descrizione,Costo,Data_riferimento,Categoria
0,017.PM162,0,SATINATURA A FASCE SU VETRO,30.00,2022-11-28,Laminati e altri
1,017.PM163,0,PELLICOLA ADESIVA PER VETRO,35.00,2022-11-28,Laminati e altri
2,052.MP.COL.01,0,COLLA POLIURETANICA CARTUCCIA 600 ML BIANCA,5.60,2022-12-07,Laminati e altri
3,052.MP.COL.04,0,COLLA PER PANNELLI SANDWICH - POLIOLO,3.56,2022-12-07,Laminati e altri
4,052.MP.COL.05,0,COLLA PER PANNELLI SANDWICH - ISOCIANATO,7.68,2022-12-07,Laminati e altri

In [184]:
list_df.append(df_laminati_e_altri)
#df_laminati_e_altri.info()
#df_laminati_e_altri.describe()

In [185]:
df_listino = pd.concat(list_df)
df_listino

,Codice_articolo,Codice_variante,Descrizione,Costo,Data_riferimento,Categoria
0,017.PM419,1,,46.52,2023-01-12,Veneziane
1,017.PM420,1,,46.52,2023-01-12,Veneziane
2,017.PM421,1,,48.75,2023-01-12,Veneziane
3,017.PM422,3,,46.52,2023-01-12,Veneziane
4,017.PM423,1,,46.52,2023-01-12,Veneziane
...,...,...,...,...,...,...
15,052.MP.HPL.1,0,LAMINATO HPL 1 MM RETRORUVIDATO,6.00,2022-04-01,Laminati e altri
16,052.MP.HPL.4,2,LAMINATO HPL 4 MM RETRORUVIDATO,14.20,2023-04-19,Laminati e altri
17,052.MP.HPL.4,3,LAMINATO HPL 4 MM RETRORUVIDATO,14.20,2023-04-19,Laminati e altri
18,052.MP.HPL.4,0,LAMINATO HPL 4 MM RETRORUVIDATO,14.20,2023-04-19,Laminati e altri
19,052.MP.MDF,0,MDF GREZZO SP.16 mm PER MOBILI,6.50,2022-11-28,Laminati e altri

In [188]:
#df_listino.describe()
df_listino.to_csv('data_generated/listino_completo.csv', index=False)